.textareapg{
    background-color: #1e2c46; width: 100%; height:100%; border:none; resize:none; box-sizing:border-box;
}

.textareajwb{
    background-color: #1e2c46; width: auto; height:auto; border:none; resize:none; box-sizing:border-box;
}